@import "./style.css";

/*** HOME ***/
.container {
  margin: calc(var(--space-unit) * 5) auto 0;
  max-width: 900px;
}

.home-layout {
  display: grid;
  grid-template-columns: 3fr 9fr;
  column-gap: calc(var(--space-unit) * 4);
}

.home-layout .home-layout-content {
  height: 100%;
  overflow-y: hidden;
}

#profile-box {
  background-image: var(--main-gradient);
  color: white;
  padding-top: 50px;
  position: relative;
}

#profile-box>img {
  max-width: 75px;
  position: absolute;
  bottom: 55%;
  left: calc(50% - 37px);
  border-radius: 100%;
}

#tag-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 100px;
}

.issue-status-list>li:nth-child(1)::marker {
  color: var(--todo-color);
}

.issue-status-list>li:nth-child(2)::marker {
  color: var(--doing-color);
}

.issue-status-list>li:nth-child(3)::marker {
  color: var(--done-color);
}

.issues-nav-header select {
  background-color: var(--dark-color);
  border: none;
  color: white;
  cursor: pointer;
}

.issues-nav-header select:focus {
  border: none;
  outline: none;
}

.issues-list-container {
  margin-top: calc(var(--space-unit) * 3);
  max-height: calc(100% - 145px);
  overflow-y: auto;
}


.issue {
  display: flex;
  column-gap: calc(var(--space-unit) * 5);
  align-items: flex-start;
}

.issue .comments {
  justify-content: end;
  margin-left: auto;
  align-self: center;
}