@import "./style.css";

.roadmap-container {
  margin: calc(var(--space-unit) * 5) auto 0;
  max-width: 900px;
}

.roadmap-container main {
  margin-top: calc(var(--space-unit) * 3);
}

.roadmap-container main .issues-column>small {
  display: block;
  margin-bottom: calc(var(--space-unit) * 2);
}

.issues-tiles-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.issues-nav-header a {
  color: white;
  text-decoration: none;
  font-size: var(--text-sm);
}

.todo-issue .issue-status-list>li:nth-child(1)::marker {
  color: var(--todo-color);
}

.doing-issue .issue-status-list>li:nth-child(1)::marker {
  color: var(--doing-color);
}

.done-issue .issue-status-list>li:nth-child(1)::marker {
  color: var(--done-color);
}

.issue-tile {
  border-top: 5px solid transparent;
}

.todo-issue {
  border-color: var(--todo-color);
}

.doing-issue {
  border-color: var(--doing-color);
}

.done-issue {
  border-color: var(--done-color);
}