@import "./reset-styles.css";
@import "./variables.css";

/*** GENERAL ***/
body {
  background-color: var(--light-color);
  font-family: 'Jost', sans-serif;
}

/*** BLOCKS ***/
.box {
  border-radius: 8px;
  padding: calc(var(--space-unit) * 2);
  background-color: white;
  box-shadow: 2px 4px 8px lightgrey;
}

.box~.box {
  margin-top: calc(var(--space-unit) * 3);
}

.tag {
  padding: calc(var(--space-unit) * .5) calc(var(--space-unit) * 1);
  background-color: var(--bg-tag-color);
  color: var(--link-color);
  border-radius: 12px;
  font-weight: 600;
  font-size: var(--text-sm);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.tag:hover {
  background-color: var(--link-color);
  color: var(--bg-tag-color);
}

/*** LAYOUTS ***/
.flex-row-spb-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/*** TEXT ***/
.text-sm {
  font-size: var(--text-sm);
}

/*** UI ***/
.button {
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: bold;
  padding: calc(var(--space-unit) * 1) calc(var(--space-unit) * 2);
  cursor: pointer;
  transition: all 250ms ease-in-out;
  text-decoration: none;
}

.button-primary {
  background-color: var(--doing-color);
}

.button-secondary {
  background-color: var(--secondary-color);
}

.button-danger {
  background-color: var(--danger-color);
}

.button-primary:hover {
  background-color: var(--doing-hover-color);
}

.button-secondary:hover {
  background-color: var(--secondary-light-color);
}

.button-danger:hover {
  background-color: var(--danger-dark-color);
}