@import "./reset-styles.css";
@import "./variables.css";

/*** GENERAL ***/
body {
  background-color: var(--light-color);
  font-family: 'Jost', sans-serif;
}

/*** HOME ***/
.container {
  margin: calc(var(--space-unit) * 5) auto 0;
  max-width: 900px;
}

.home-layout {
  display: grid;
  grid-template-columns: 3fr 9fr;
  column-gap: calc(var(--space-unit) * 4);
}

.home-layout .home-layout-content {
  height: 100%;
}

/*** Header ***/
.box {
  border-radius: 8px;
  padding: calc(var(--space-unit) * 2);
  background-color: white;
  box-shadow: 2px 4px 8px lightgrey;
}

.box~.box {
  margin-top: calc(var(--space-unit) * 3);
}


#profile-box {
  background-image: var(--main-gradient);
  color: white;
  padding-top: 50px;
  position: relative;
}

#profile-box>img {
  max-width: 75px;
  position: absolute;
  bottom: 55%;
  left: calc(50% - 37px);
  border-radius: 100%;
}

#tag-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  height: 100px;
}

.tag {
  padding: calc(var(--space-unit) * .5) calc(var(--space-unit) * 1);
  background-color: var(--bg-tag-color);
  color: var(--link-color);
  border-radius: 12px;
  font-weight: 600;
  font-size: var(--text-sm);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.tag:hover {
  background-color: var(--link-color);
  color: var(--bg-tag-color);
}